body {
    font-family: Ubuntu;
    font-weight: lighter;
    background-color: #35404D;
    color: white;
    margin-left: 100px;
    border-left: 2px solid white;
}

div {
    display: block;
    float: left;
    height: 50px;
    line-height: 50px;
    background-color: #FFFFFF;
    margin: 5px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    color: black;
}

.padded {
    padding-left: 25px;
}

ul {
    list-style-type: none;
}

hr {
    border: 1px solid white;
}

div.square {
    width: 50px;
    border: 1px solid white;
    border-radius: 5px;
    font-family: Ubuntu Mono;
}

div.sum, div.desc {
    background-color: #35404D;
    color: white;
}

div.desc {
    width: 125px;
    text-align: right;
}

a {
    color: white;
}

br {
    line-height: 75px;
}

#data, #clock, #latch {
    cursor: pointer;
}

#clock, #latch {
    background-color: red;
}

.input:hover {
    border-color: gray;
}

.btn {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.btn:hover {
    border: 1px solid black;
}